<%- include("partials/header"); -%>

    <div class="card-group">
        <!-- Table of Contents-->
        <div class="card w-25 min-h-100 m-3">

            <div class="card-header">

                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#">All</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <h3 class="card-title">Your Notes</h3>
                <p class="card-text">Collections</p>

                <ul class="list-group list-group-flush">
                    <% notes.forEach( function(note) { %>
                        <li class="list-group-item">
                            <%= note.title %>
                        </li>
                        <% }); %>
                </ul>
            </div>

        </div>

        <div class="deck w-75 m-3" id="deck">

            <% notes.forEach( function(note) { %>
                <a href="/note/<%= note.id %>">
                    <div class="card mb-3">
                        <div class="card-header">
                            <%= note.id %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= note.title %>
                            </h5>
                            <p class="card-text">
                                <%= note.text.substring(0, 128).replace(/<[^>]*>?/gm, ' ') %>
                            </p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="/delete/<%= note.id %>" class="card-link">Delete</a>
                        </div>
                    </div>
                </a>

                <% }); %>

        </div>
    </div>

    <%- include("partials/footer"); -%>